*               text eol=lf
.github         export-ignore
tests/          export-ignore
.gitattributes  export-ignore
.gitignore      export-ignore
.phpcs.xml      export-ignore
composer.*      export-ignore
phpunit.xml     export-ignore
README.md       export-ignore
